<a href="https://colab.research.google.com/github/dhaffaardhana2002/learn/blob/master/Class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
class Mahasiswa:
	jumlah_mahasiswa = 0

	def __init__(self, nama, umur):
		self.nama = nama
		self.umur = umur
		Mahasiswa.jumlah_mahasiswa += 1

	def tampilkanData(self):
		print(f"Nama: {self.nama}, Umur: {self.umur}")

	def tampilkanNama(self):
		print(f"Nama mahasiswa: {self.nama}")

	def tampilkanJumlah():
		print(f"Jumlah mahasiswa adalah {Mahasiswa.jumlah_mahasiswa}")

data_nama = ['Dhaffa','Deni','Budi','Dian','Mulan']
data_umur = [19,20,18,17,19]

data_mahasiswa = []

for x in range(len(data_nama)):
	data_mahasiswa.append(Mahasiswa(data_nama[x],data_umur[x]))
	data_mahasiswa[x].tampilkanData()

Mahasiswa.tampilkanJumlah()

Nama: Dhaffa, Umur: 19
Nama: Deni, Umur: 20
Nama: Budi, Umur: 18
Nama: Dian, Umur: 17
Nama: Mulan, Umur: 19
Jumlah mahasiswa adalah 5